.about{
    background: #FFFFFF;
     width: 1500px;
     min-height: 100vh;
     // display: flex;
     // // justify-content: s;
     // align-items: center;
     // flex-direction: column;
     text-align: center;
   &-sub{
     font-size: 40px ;
     font-family: 'Nunito', sans-serif;
   }
   &-text{
     font-size: 20px ;
   font-family: 'Nunito', sans-serif;
   }
   &-main{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     align-items: center;
     margin: 50px 10px 0 10px;
    
     &-img{
       img{
         border-radius: 20px;
         border: 1px solid #0F0742;
         box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.2);
         filter: grayscale(90%);
         
       }
     }
     &-work{
       margin: 20px 0 20px 0;
       width: 450px;
       // height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: justify;
       justify-content: space-around;
       &-page{
         display: flex;
       justify-content: space-between;
       width: 450px;
       align-items: start;
       
       // height: 100%;
       margin: -10px 0 0 0;
      
         &-div{
         width: 120px;
         height: 100px;
         background: white;
         // border: 1px solid #0F0742;
         border-radius: 10px;
         box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
           i{
             margin: 7px 0 0 0;
             font-size: 20px;
             color: black;
           }
           &-text{
             margin: 0 0 0 0;
             color: black;
             font-size: 20px;
             font-family: 'Nunito', sans-serif;
           }
           &-sub{
             margin: 0 0 10px 0;
             font-size: 15px;
             font-family: 'Nunito', sans-serif;
           }
         }
       }
       &-text{
         font-size: 20px ;
         font-family: 'Nunito', sans-serif;
         margin: 60px 0 0 0;
       }
       &-btn{
         width: 200px;
         height: 50px;
         font-size: 20px;
         color: white;
         font-family: 'Nunito', sans-serif;
         background: #272727;
         border-radius: 10px;
         margin: 62px 0 0 0;
         i{
           font-size: 25px;
         }
       }
 
     }
   }
 }
 
@media (max-width: 1500px) {
  .about{
    width: 100%;
   
  }
}
@media (max-width: 480px) {
  .about{
    width: 100%;
    &-main{
      margin: 20px 0 0 0;
      &-work{
        width: 100%;
        &-page{
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 410px) {
  .about{
    
    &-main{
      margin: 20px 0 0 0;
      &-work{
        
        &-page{
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
         &-div{
          margin: 0 5px 12px 0;
         }
        }
      }
      &-img{
        img{
          width: 100%;
        }
      }
    }
  }
}