.contact{
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    &-talk{
      h1{
      
      font-size: 40px;
      color: #272727;
      font-family: 'Nunito', sans-serif;
      }
      &-div{
        margin: 25px 0  0 0;
        width: 350px;
        height: 170px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        i{
          font-size: 35px;
          color: #272727;
  
        }
        h1{
          margin: -20px 0 0 0;
          font-size: 20px;
          color: #272727;
          font-family: 'Nunito', sans-serif;
        }
        P{
          margin: -30px 0 0 0;
          font-size: 15px;
          color: #272727;
          font-family: 'Nunito', sans-serif;
          a{
            color: #272727;
          }
        }
        button{
          border: none;
          background: none;
          color: #272727;
          font-size: 15px;
          font-family: 'Nunito', sans-serif;
          .fa-arrow-right{
            color: #272727;
            font-size: 12px;
          }
        }
      }
    }
    &-massage{
      height: 200px;
      h1{ 
      font-size: 40px;
      color: #272727;
      font-family: 'Nunito', sans-serif;
      }
      &-div{
      
        &-main{
          position: relative;
          height: 50px; 
          width: 350px;
          border: 2px solid #272727;
          display: flex;
  
          p{
            color: #272727;
            font-family: 'Nunito', sans-serif;
            top: 0;
            position: absolute;
          }
          input{
            width: 100%;
           border: none;
           background: none;
  
  
          }
        }
      }
    }
  }