* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 15px;
}

@media (max-width: 450px) {
  .container {
    margin: 0 15px 0 15px;
  }
}
.home {
  font-family: "Nunito", sans-serif;
  width: 1550px;
  min-height: 110vh;
  background: #ffffff;
}
.home-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 130px 70px 0px 70px;
}
.home-main-div {
  padding: 0 0 0 0;
  width: 40px;
}
.home-main-div-page {
  animation: icons 1s linear 0s 1;
}
.home-main-div-page-i {
  padding: 20px;
}
.home-main-div-page-i i {
  font-size: 25px;
}
.home-main-center {
  width: 500px;
  height: 300px;
}
.home-main-center-page {
  width: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  top: 0px;
}
.home-main-center-page-div {
  display: flex;
  height: 20px;
  align-items: center;
  width: 300px;
}
.home-main-center-page-div-div {
  margin: 0 30px 0 0;
  transform: translate(0, 100%);
  width: 70px;
  height: 2px;
  opacity: 0;
  background: #272727;
}
.home-main-center-page-div .div-p {
  transform: translate(0, 100%);
  top: 138px;
  left: 93px;
  opacity: 0;
  margin: 0px 20px 0 0;
}
.home-main-center-page h1 {
  top: 0;
  animation: h1 1s linear 0s alternate;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
}
.home-main-center-page h2 {
  top: 65px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin: 0 0 0 0;
  transform: translate(0, 110%);
  opacity: 0;
}
.home-main-center-page .p {
  top: 160px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  opacity: 0;
  transform: translate(0, 50%);
}
.home-main-left {
  padding: 20px 0 0 0;
  width: 450px;
  height: 300px;
}
.home-main-left img {
  width: 450px;
  animation: left 1s linear 0s 1;
  right: 0;
}

@keyframes left {
  0% {
    transform: translate(50%, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes icons {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes h1 {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media (max-width: 1600px) {
  .home {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .home {
    width: 100%;
  }
  .home-main {
    margin: 100px 3% 0px 3%;
  }
}
@media (max-width: 1100px) {
  .home-main {
    margin: 100px 0 0px 0;
  }
}
@media (max-width: 1000px) {
  .home-main {
    margin: 100px 3% 0px 3%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 900px) {
  .home-main {
    display: flex;
  }
  .home-main-btn {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 615px) {
  .home-main {
    margin: 0px 0 0px 0;
  }
  .home-main-div {
    width: 100%;
  }
  .home-main-div-page {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .home-main-center {
    width: 100%;
  }
  .home-main-center-page {
    width: 100%;
  }
  .home-main-center h1 {
    font-size: 40px;
  }
  .home-main-left img {
    top: 0;
  }
}
@media (max-width: 475px) {
  .home-main-center {
    height: 225px;
  }
  .home-main-center h1 {
    font-size: 30px;
  }
  .home-main-center p {
    font-size: 17px;
  }
  .home-main-center-div-div {
    width: 50px;
  }
  .home-main-center-div p {
    font-size: 15px;
  }
  .home-main-left {
    width: 100%;
    margin: 90px 0 0 0;
  }
  .home-main-left img {
    top: 124px;
    width: 94%;
  }
}
@media (max-width: 400px) {
  .home-main-div {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .home-main-div-div {
    width: 50px;
  }
  .home-main-center-div {
    width: 100%;
  }
  .home-main-center-div-div {
    width: 50px;
  }
  .home-main-left img {
    top: 194px;
  }
}/*# sourceMappingURL=Home.css.map */