.portfolio{
    background: #FFFFFF;
    width: 100%;
    min-height: 110vh;
    // text-align: center;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    h1{
      font-size: 40px;
      color: #272727;
      font-family: 'Nunito', sans-serif;
      margin: 0 0 -5px 0;
    }
    p{
      font-size: 20px;
      color: #272727;
      font-family: 'Nunito', sans-serif;
    }
    &-main{
      width: 100%;
      display: flex;
    flex-direction: column;
    align-items: center;
    
      &-button{
        button{   
          transition: 0.5s;
           width: 200px;
          height: 50px;
          font-size: 20px;
          color: #FFFFFF;
          font-family: 'Nunito', sans-serif;
          background: #272727;
          border-radius: 10px;
          // margin: 62px 0 0 0;
        }
      }
      &-page{
        margin: 50px 100px 0 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-div{
          width: 400px;
          height: 370px;
          background: white;
          border-radius: 20px;
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          margin: 30px 30px;
          img{
            width: 350px;
            border-radius: 20px;
            // text-align: center;
            margin: 15px 0 0 25px;
          }
          &-true{
            .p{
              color: #272727;
              font-family: 'Nunito', sans-serif;
              font-size: 20px;
              margin: 10px 10px 0 25px;
              font-weight: 700;
            }
            button{
              margin: 10px 0px 0 24px;
              font-size: 15px;
              color: #272727;
              font-family: 'Nunito', sans-serif;
              background: none;
              border: none;
              
            }
          }
        }
  
      }
    }
  }