@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito&display=swap');

*{
 
  text-decoration: none;

}
html{
  scroll-behavior: smooth;
}


.header{
  // margin: 0 auto;
  max-width: 100%;
  position: fixed;
  top: 89vh;
  // position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  // width: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
  z-index: 1;
  
  &-main{
    position: relative;
    width: 700px;
  height:70px;
  background: #272727;
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
              rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    &-page{
        display: flex;
        justify-content: space-around;
        align-items: center;
      .house{
        text-align: center;
        
        i{
            margin: 10px 10px 0 0;
            font-size: 20px;
            color: #FFFFFF;
        }
        p{
            margin: 0 10px 0 0 ;
            color: #FFFFFF;
            font-family: 'Nunito', sans-serif;
            font-size: 20px;
        }
    }
    .house:hover{
        i{
            color: aqua;

        }
        p{
            color: aqua;
        }
    }
    }
  }
  &-button{
    background: none;
    border: none;
    position: absolute;
    top:10px;
    right: 10px;
    i{
      color: #FFFFFF;
      font-size: 15px;
    }
  }
}
.div{
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  &-button{
    i{
      position: relative;
      top: 0;
      animation: button 2s linear 2s infinite alternate;

    }
    
  }

}
@keyframes button {
  0% {top: 5px;}
  25% {top: 10px;}
  50% {top: 20px;}
  75% {top: 10px;}
  100% {top: 0px;}                              
  
  
}
// header <------


// home -------->
.home{
  font-family: 'Nunito', sans-serif;
    width: 100%;
    min-height: 90vh;
    background: #FFFFFF;    
  &-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 100px 200px 0px 70px;
    
    &-div{
      padding: 60px 0 0 0;
      &-i{
        padding: 20px;
        
        i{
            font-size: 25px;
        }
      }
        
    }
    &-center{
      width: 500px;
      &-div{
        display: flex;
        justify-content: space-around;
        height: 20px;
        align-items: center;
        width: 300px;
        &-div{
        width: 70px;
        height: 2px;
        background: #272727;
        }
        p{
          margin: 0px 20px 0 0 ;
            
        }
      }
        h1{
          font-family: 'Nunito', sans-serif;
          font-size: 50px;
        }
        p{
          font-family: 'Nunito', sans-serif;
          font-size: 20px;
          // margin: 20px 0 0 0 ;
        }

    }
    &-left{
      padding: 20px 0 0 0;
      img{
        border: 4px solid  #0F0742;
        // width: 352px;
        
        border-radius:54% 46% 32% 68% / 53% 50% 50% 47% ;
      }
    }
  }
  &-scroll{
    padding: 80px 0px 0px 140px;                   
    width: 100px;
    top: 0;
    position: relative;
    p{
      rotate: -90deg;
      position: absolute;
      top: 1px ;
      left:  110px;
    }
    a{
      color: #272727;
      position: relative;
      top: 0;
      left: 1px;

        font-size: 25px;
        animation: myfirst 2s linear 2s infinite alternate;
    }
   
  }
}

@keyframes myfirst {
  0% {top: 5px;}
  25% {top: 10px;}
  50% {top: 20px;}
  75% {top: 10px;}
  100% {top: 0px;}                              
  
  
}
// home <-------

// about me ------->
.about{
   background: #FFFFFF;
    width: 100%;
    min-height: 100vh;
    // display: flex;
    // // justify-content: s;
    // align-items: center;
    // flex-direction: column;
    text-align: center;
  &-sub{
    font-size: 40px ;
    font-family: 'Nunito', sans-serif;
  }
  &-text{
    font-size: 20px ;
  font-family: 'Nunito', sans-serif;
  }
  &-main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 150px 0 150px;
   
    &-img{
      img{
        border-radius: 20px;
        border: 1px solid #0F0742;
        box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.2);
        filter: grayscale(90%);
        
      }
    }
    &-work{
      margin: 20px 0 20px 0;
      width: 450px;
      // height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      justify-content: space-around;
      &-page{
        display: flex;
      justify-content: space-between;
      width: 450px;
      align-items: start;
      
      // height: 100%;
      margin: -10px 0 0 0;
     
        &-div{
        width: 120px;
        height: 100px;
        background: white;
        // border: 1px solid #0F0742;
        border-radius: 10px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
          i{
            margin: 7px 0 0 0;
            font-size: 20px;
            color: black;
          }
          &-text{
            margin: 0 0 0 0;
            color: black;
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
          }
          &-sub{
            margin: 0 0 10px 0;
            font-size: 15px;
            font-family: 'Nunito', sans-serif;
          }
        }
      }
      &-text{
        font-size: 20px ;
        font-family: 'Nunito', sans-serif;
        margin: 60px 0 0 0;
      }
      &-btn{
        width: 200px;
        height: 50px;
        font-size: 20px;
        color: white;
        font-family: 'Nunito', sans-serif;
        background: #272727;
        border-radius: 10px;
        margin: 62px 0 0 0;
        i{
          font-size: 25px;
        }
      }

    }
  }
}
// about me <--------


// skills

.skills{
  background: #FFFFFF;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  h1{
    font-size: 40px;
    font-family: 'Nunito', sans-serif; 
    color: black;

  }
  p{
    font-size: 20px;
    font-family: 'Nunito', sans-serif; 
    color: black;
  }
  &-task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 250px 20px 250px;
    &-front{
      width: 400px;
      height: 300px;
      // border: 1px solid #272727 ;
      border-radius: 20px;
      margin: 20px;
      // box-shadow: 0  0 10px 1px  black;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      &-sub{
        color: #272727;
        font-family: 'Nunito', sans-serif; 
        font-size: 20px;
        margin: 30px 0 15px 0;
      }
      &-page{
        display: flex;
        justify-content: space-around;
        margin: -14px 0 0 0;
        &-div{
          // margin: 4px 0 0 0;
          display: flex;
          justify-content: start;
          flex-direction: column;
          .basic{
            margin: -20px 0 13px -5px;
            font-size: 15px;
            color: #272727;
            font-family: 'Nunito', sans-serif; 
          }
          &-main{
            display: flex;  
            justify-content: start;
            text-align: center;
            margin: 4px -50px 0 -25px;
            i{
              margin: 26px 10px 0px -5px;
            }
            p{
              padding: 2px 0 0 0;
              font-size: 18px;
              color: #272727;
              font-family: 'Nunito', sans-serif; 
              font-weight: 600;
            }
          }
        }
      }
     
    }
  }
}
// skills

// portfolio 
.portfolio{
  background: #FFFFFF;
  width: 100%;
  min-height: 110vh;
  // text-align: center;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 40px;
    color: #272727;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 -5px 0;
  }
  p{
    font-size: 20px;
    color: #272727;
    font-family: 'Nunito', sans-serif;
  }
  &-main{
    width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  
    &-button{
      button{   
        transition: 0.5s;
         width: 200px;
        height: 50px;
        font-size: 20px;
        color: #FFFFFF;
        font-family: 'Nunito', sans-serif;
        background: #272727;
        border-radius: 10px;
        // margin: 62px 0 0 0;
      }
    }
    &-page{
      margin: 50px 100px 0 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &-div{
        width: 400px;
        height: 370px;
        background: white;
        border-radius: 20px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
        margin: 30px 30px;
        img{
          width: 350px;
          border-radius: 20px;
          // text-align: center;
          margin: 15px 0 0 25px;
        }
        &-true{
          .p{
            color: #272727;
            font-family: 'Nunito', sans-serif;
            font-size: 20px;
            margin: 10px 10px 0 25px;
            font-weight: 700;
          }
          button{
            margin: 10px 0px 0 24px;
            font-size: 15px;
            color: #272727;
            font-family: 'Nunito', sans-serif;
            background: none;
            border: none;
            
          }
        }
      }

    }
  }
}

// portfolio 



// contact
.contact{
  width: 100%;
  min-height: 100vh;
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  &-talk{
    h1{
    
    font-size: 40px;
    color: #272727;
    font-family: 'Nunito', sans-serif;
    }
    &-div{
      margin: 25px 0  0 0;
      width: 350px;
      height: 170px;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      i{
        font-size: 35px;
        color: #272727;

      }
      h1{
        margin: -20px 0 0 0;
        font-size: 20px;
        color: #272727;
        font-family: 'Nunito', sans-serif;
      }
      P{
        margin: -30px 0 0 0;
        font-size: 15px;
        color: #272727;
        font-family: 'Nunito', sans-serif;
        a{
          color: #272727;
        }
      }
      button{
        border: none;
        background: none;
        color: #272727;
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        .fa-arrow-right{
          color: #272727;
          font-size: 12px;
        }
      }
    }
  }
  &-massage{
    height: 200px;
    h1{ 
    font-size: 40px;
    color: #272727;
    font-family: 'Nunito', sans-serif;
    }
    &-div{
    
      &-main{
        position: relative;
        height: 50px; 
        width: 350px;
        border: 2px solid #272727;
        display: flex;

        p{
          color: #272727;
          font-family: 'Nunito', sans-serif;
          top: 0;
          position: absolute;
        }
        input{
          width: 100%;
         border: none;
         background: none;


        }
      }
    }
  }
}
// contact